import type { FC } from "react";

interface I{{pascalCase name}} {}

const {{pascalCase name}}: FC<I{{pascalCase name}}> = ({}) => {
  return <div>{{name}}</div>;
};

export default {{pascalCase name}};
